*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 70%;
    padding: 10px;
    margin:0 auto;
    background-color: white;
    

}
.display-inline{
    display: inline;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}
img{
    vertical-align: middle;
}
.titolo-primario{
    padding: 10px;  
}
main{
    background-color: rgb(236, 236, 236);
}
.bottone1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: darkturquoise;
    border: none;
    border-radius: 8%;
    width: 100px;
    height: 30px;
}
.bottone2{
    font-family: 'Montserrat', sans-serif;
    color: rgb(236, 236, 236);;
    background-color: white;
    border-color: rgb(236, 236, 236);;
    border-radius: 8%;
    width: 100px;
    height: 30px;
}
hr{
    border: solid rgb(236, 236, 236);;
}